{{define "footer"}}
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <hr>
                <small class="text-muted">Footer: кчау</small>
                <small class="text-muted">Footer: кsdfsdfsdfsdfчау</small>
                
            </div>
        </div>
    </div>
{{end}}